.about {
  position: relative;
  height: 676px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.about-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.about-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.about-content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
}

.about-title {
  font-family: "Poiret One", sans-serif;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #f0e9df;
  max-width: 695px;
  margin-left: 120px;
}

.about-link {
  position: absolute;
  top: 40px;
  right: 120px;
  color: #f0e9df;
  border-bottom-color: #f0e9df;
}

@media (max-width: 1024px) {
  .about {
    height: 500px;
  }

  .about-title {
    font-size: 45px;
  }

  .about-link {
    right: 40px;
    top: 32px;
  }
}

@media (max-width: 768px) {
  .about {
    height: 375px;
  }

  .about-title {
    font-size: 24px;
    margin-left: 16px;
    max-width: 300px;
  }

  .about-link {
    top: 16px;
    right: 16px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 24px;
    line-height: 1.2;
  }
}
