.widget-area {
  display: none !important;
}

.entry-header {
  display: none !important;
}

.site-main {
  margin-top: 103px !important;
}

.wc-block-components-sidebar-layout {
  max-width: 1232px !important;
  margin: 0 auto !important;
  padding: 0 16px !important;
  padding-bottom: 80px !important;
  padding-top: 40px !important;
}

.wc-block-cart-items thead {
  display: none !important;
}

.wc-block-cart table.wc-block-cart-items {
  margin: 0 !important;
}

.wc-block-cart__main .wc-block-cart-items td {
  border-top: none !important;
}

.wc-block-cart-item__total-price-and-sale-badge-wrapper
  .wc-block-components-sale-badge {
  display: none !important;
}

.wc-block-cart__main .wc-block-cart-items td {
  padding: 0 !important;
  padding-right: 24px !important;
}

table.wc-block-cart-items
  .wc-block-cart-items__row
  .wc-block-cart-item__image
  img {
  width: 180px !important;
  height: 180px !important;
  min-width: 180px !important;
  object-fit: cover !important;
  border-radius: 12px !important;
}

.is-medium table.wc-block-cart-items .wc-block-cart-items__row {
  grid-template-columns: auto !important;
}

/* table.wc-block-cart-items .wc-block-cart-items__row {
  padding-bottom: 40px;
} */

table.wc-block-cart-items
  .wc-block-cart-items__row
  .wc-block-components-product-name {
  font-size: 18px !important;
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  margin-bottom: 8px !important;
  text-decoration: none !important;
}

.wc-block-cart-item__prices {
  margin-bottom: 20px !important;
}

table.wc-block-cart-items
  .wc-block-cart-items__row
  .wc-block-components-product-price__regular {
  font-size: 32px !important;
  font-family: "Playfair Display", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  margin-bottom: 8px !important;
  text-transform: uppercase !important;
}

.wc-block-components-product-price__value.is-discounted {
  font-size: 32px !important;
  font-family: "Playfair Display", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  margin-bottom: 8px !important;
  text-transform: uppercase !important;
  margin-left: 40px !important;
}

.wc-block-components-product-badge {
  padding: 4px 12px !important;
  border-radius: 4px !important;
  border: 0.5px solid rgba(5, 5, 5, 1) !important;
  margin-bottom: 20px !important;
  font-size: 16px !important;
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  text-align: center !important;
}

.wc-block-components-formatted-money-amount {
  font-size: 16px !important;
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  text-align: center !important;
}

.wc-block-components-product-metadata {
  font-size: 18px !important;
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400 !important;
  color: rgba(5, 5, 5, 1) !important;
  line-height: 100% !important;
  margin-bottom: 20px !important;
}

.wc-block-cart__main .wc-block-components-product-details__name {
  font-weight: 400 !important;
}

.wc-block-components-quantity-selector {
  border: 0.5px solid rgba(176, 134, 74, 1) !important;
  margin-bottom: 24px !important;
  padding: 4px 8px !important;
  border-radius: 4px !important;
  width: 78px !important;
}

.wc-block-components-quantity-selector
  .wc-block-components-quantity-selector__button,
.wc-block-components-quantity-selector
  .wc-block-components-quantity-selector__button {
  color: rgba(176, 134, 74, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  min-width: auto !important;
}

.wc-block-components-quantity-selector
  input.wc-block-components-quantity-selector__input {
  color: rgba(5, 5, 5, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  min-width: auto !important;
  padding: 0 !important;
}

table.wc-block-cart-items
  .wc-block-cart-items__row
  .wc-block-cart-item__quantity
  .wc-block-cart-item__remove-link {
  color: rgba(5, 5, 5, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  text-decoration: underline !important;
  padding-bottom: 40px !important;
}

.wc-block-components-formatted-money-amount {
  color: rgba(176, 134, 74, 1) !important;
  font-family: "Playfair Display", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.wc-block-cart .wc-block-cart__totals-title {
  display: none !important;
}

.wc-block-components-totals-wrapper {
  border-top: none !important;
  padding: 16px 12px !important;
  border-bottom: 0.5px solid rgba(218, 218, 218, 1) !important;
}

.wp-block-woocommerce-cart-order-summary-totals-block {
  display: none !important;
}

.wc-block-components-totals-coupon .wc-block-components-panel__button {
  color: rgba(5, 5, 5, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.wc-block-components-totals-footer-item
  .wc-block-components-totals-item__label {
  color: rgba(5, 5, 5, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.wc-block-components-totals-item__value {
  color: rgba(5, 5, 5, 1) !important;
  font-family: "Playfair Display", sans-serif !important;
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
}

.wc-block-cart .wp-block-woocommerce-cart-order-summary-block {
  margin-bottom: 24px !important;
}

body:not(.woocommerce-block-theme-has-button-styles)
  .wc-block-components-button:not(.is-link) {
  min-height: auto !important;
  color: rgba(176, 134, 74, 1) !important;
  font-family: "Poiret One", sans-serif !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 100% !important;
  text-decoration: underline !important;
}

.wp-block-heading.has-text-align-center {
  display: none;
}

.wp-block-heading.has-text-align-center.with-empty-cart-icon.wc-block-cart__empty-cart__title {
  min-height: 80vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poiret One", sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 100% !important;
}

.wp-block-separator.has-alpha-channel-opacity.is-style-dots {
  display: none;
}

.wc-block-grid.wp-block-product-new.wp-block-woocommerce-product-new.wc-block-product-new.has-4-columns {
  display: none;
}

@media (max-width: 1250px) {
  .site-main {
    margin-top: 76px !important;
  }
}

@media (max-width: 1100px) {
  .wc-block-components-sidebar-layout {
    flex-direction: column !important;
    gap: 40px !important;
  }

  .wc-block-components-sidebar-layout .wc-block-components-main {
    padding-right: 0 !important;
    width: 100% !important;
  }

  .wc-block-cart table.wc-block-cart-items {
    padding-right: 0 !important;
  }

  .wc-block-components-sidebar {
    padding-left: 0 !important;
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-components-product-price__regular,
  .wc-block-components-product-price__value.is-discounted {
    font-size: 22px !important;
  }
}

@media (max-width: 560px) {
  .wc-block-components-sidebar-layout {
    padding-top: 20px !important;
    padding-bottom: 40px !important;
  }

  .wc-block-cart-items__row {
    border-bottom: 0.5px solid rgba(218, 218, 218, 1) !important;
    padding-bottom: 16px !important;
  }

  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-cart-item__image
    img {
    width: 82px !important;
    height: 82px !important;
    min-width: 82px !important;
    border-radius: 4px !important;
  }

  .is-medium
    table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-cart-item__image {
    padding-right: 8px !important;
  }

  .is-medium table.wc-block-cart-items .wc-block-cart-items__row {
    padding: 0 !important;
    grid-template-columns: max-content !important;
  }

  table.wc-block-cart-items
    .wc-block-cart-items__row
    .wc-block-components-product-name {
    font-size: 14px !important;
  }

  .wc-block-components-product-price__regular {
    font-size: 28px !important;
  }

  .wc-block-cart-item__prices {
    margin-bottom: 16px !important;
  }

  .wc-block-components-product-price__value.is-discounted {
    margin-left: 26px !important;
  }

  .wc-block-components-product-badge.wc-block-components-sale-badge {
    font-size: 14px !important;
  }

  .wc-block-components-product-metadata {
    font-size: 16px !important;
    margin-bottom: 16px !important;
  }

  .wc-block-components-quantity-selector {
    margin-bottom: 16px !important;
  }

  .wc-block-components-quantity-selector
    input.wc-block-components-quantity-selector__input {
    font-size: 16px !important;
  }

  .wc-block-components-quantity-selector
    .wc-block-components-quantity-selector__button,
  .wc-block-components-quantity-selector
    .wc-block-components-quantity-selector__button {
    font-size: 16px !important;
  }

  .wc-block-cart-item__remove-link {
    font-size: 16px !important;
    padding-bottom: 0px !important;
  }

  .wc-block-components-totals-wrapper {
    padding: 14.5px 12px !important;
  }

  .wc-block-components-totals-coupon .wc-block-components-panel__button {
    font-size: 16px !important;
  }
  .wc-block-components-totals-footer-item
    .wc-block-components-totals-item__label {
    font-size: 16px !important;
  }

  .wc-block-components-totals-item__value {
    font-size: 28px !important;
  }

  .wc-block-cart__sidebar {
    margin-bottom: 0 !important;
  }

  .wc-block-cart .wp-block-woocommerce-cart-order-summary-block {
    margin-bottom: 20px !important;
  }

  .wc-block-cart__submit {
    margin: 0 !important;
  }
}

@media (max-width: 521px) {
  .is-small table.wc-block-cart-items .wc-block-cart-items__row {
    grid-template-columns: auto !important;
  }
}
